#content {
  margin:20px;
}

#content .thumb {
  padding:10px;
	margin:5px;
}

#content .selected {
  background-color: #73bddf;
}

.floating_pic {
  border:4px solid #888;
  background-color:#aaa;
  position:absolute;
  padding:5px;
  left:10px;
	top:80px;
}